.changemakerCarousel {
	backgournd: #F5F5F5;
	position: relative;
	text-align: center;
}

.changemakerCarousel .becomeChangemakerButton {
	position: absolute;
	bottom:50%;
	right: 42%;
	z-index: 10;
}
