.callToAction {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1em 0;
	background-color: white;
}

$featured-offset: 0.35em;

.featuredTitle {
	margin-left: $featured-offset;
}

.sideScroller {
	height: 22em;
	overflow-x: visible;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
}

.sideScrollerItem {
	display: inline-block;
	max-width: 90%;
}
