.container {
	/* to override responsive-breakpoint of grid TODO should not be necessary */
	width: 100%;
}

.callToActionContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1em 0;
}

.callToAction {
	background-color: white;
}

$featured-offset: 0.35em;

.featuredTitle {
	margin-left: $featured-offset;
}

.sideScroller {
	overflow-x: visible;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.sideScrollerItem {
	display: inline-block;
	max-width: 90%;
	margin: 0 0.6rem;
	flex-shrink: 0;
}

@include breakpoint($breakpoint-large) {
	.sideScrollerItem {
		max-width: 30%;
	}
}
