@import "~react-toolbox/lib/colors";

$color-divider: $palette-teal-300;
$color-background: $palette-grey-400;
$color-text: $palette-grey-900;
$color-text-secondary: $palette-grey-700;

$color-primary: $palette-teal-500;
$color-primary-dark: $color-white;
$color-accent: $color-white;
$color-accent-dark: $color-white;
$color-primary-contrast: $palette-teal-500;
$color-accent-contrast: $palette-teal-a400;
