@import "~react-toolbox/lib/colors";

$color-divider: $palette-grey-200;
$color-background: $color-white;
$color-text: $palette-grey-900;
$color-text-secondary: $palette-grey-700;

$color-primary: $palette-grey-500;
$color-primary-dark: $palette-grey-700;
$color-accent: $palette-cyan-500;
$color-accent-dark: $palette-cyan-700;
$color-primary-contrast: $color-light-contrast;
$color-accent-contrast: $color-light-contrast;
